<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Crunchyroll</title>
    {% block styles %}
    {% endblock %}
</head>
<body>
    <header>
        <img src="imagenes/crunchy.png" class="logo" alt="logo">
        <a>
            <h1><a href="index.php">Crunchyroll</a></h1>
        </a>
        <nav class="menu">
            <a></a>
            <a href="index.php">Inicio</a>
            <a href="#">Cartelera</a>
            <a href="#">Tienda</a>
            {% block button %}
            {% endblock %}
        </nav>
    </header>
    <div class="pagina">
        <aside>
            <h2>Enlaces de Interés</h2>
            <ul>
                <li><a href="https://www.crunchyroll.com" target="_blank">Crunchyroll</a></li>
                <li><a href="https://www.imdb.com" target="_blank">IMDb</a></li>
                <li><a href="https://www.livechart.me/rankings" target="_blank">LiveChart</a></li>
            </ul>
        </aside>

        {% block main %}
        {% endblock %}
    </div>
    <footer>
        <p>&copy; 2025 Crunchyroll</p>
        <p>Javier Garcia Perez</p>
    </footer>
</body>
</html>