.lista_animes {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: 10px; 
}

.anime {
    padding: 5%;
    align-items: center;
    max-width: 300px;
}

.anime img {
    width: 100%;
    max-width: 300px;
}

.anime a {
    text-decoration: none;
}

h3 {
    background-color: rgb(245, 232, 189);
    text-align: center;
    font-size: large;
    color: black;
    margin-top: 0;
    width: 100%;
}
