{% extends "padre.html" %}
    {% block styles %}
        <link rel="stylesheet" href="../styles/estilo.css">
        <link rel="stylesheet" href="../styles/registro.css">
    {% endblock %}
    {% block main %}
    
    {% if rol == "moderador" %}
    <div class="comentarios">
        <h2>Borrar Comentario de {{ comentario.autor }}</h2>
        
        <form method="POST">
            <input type="hidden" name="id" value="{{ id }}">
            <label class="Modificar_coment">Comentario
                <textarea id="comentario" name="comentario" class="text_Modificar_coment" disabled> {{ comentario.comentario }} </textarea>
            </label>
            <button type="submit" id="submit" name="Borrar_coment">Enviar</button>
        </form>     
    </div>
{% endif %}
{% endblock %}