{% extends "padre.html" %}
{% block styles %}
    <link rel="stylesheet" href="../styles/estilo.css">
    <link rel="stylesheet" href="../styles/registro.css">
{% endblock %}

{% block main %}
{% if rol == "gestor" or rol == "superusuario" %}
<div class="comentarios">
    <h2>Editar Película</h2>

    <div class="formulario">
        <form method="POST" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{ id }}">

            <label>Título:
                <input type="text" name="titulo" id="titulo" value="{{ pelicula.titulo }}" required>
            </label>

            <label>Fecha de estreno:
                <input type="date" name="fecha" id="fecha" value="{{ pelicula.fecha }}" required>
            </label>

            <label>Género:
                <input type="text" name="genero" id="genero" value="{{ pelicula.genero }}" required>
            </label>

            <label>Director:
                <input type="text" name="director" id="director" value="{{ pelicula.director }}" required>
            </label>

            <label>Actores principales:
                <input type="text" name="actores" id="actores" value="{{ pelicula.actores }}" required>
            </label>

            <label>Descripción:
                <textarea name="descripcion" id="descripcion" rows="5" required>{{ pelicula.descripcion }}</textarea>
            </label>

            <label>Imagen Index:
                <input type="file" name="imagen_index" id="imagen_index" accept="image/*">
            </label>

            <label>Imagenes:
                <input type="file" name="imagen" id="imagen" accept="image/*">
            </label>

            <label>Imagen Título:
                <input type="text" name="imagen_titulo" id="imagen_titulo">
            </label>

            <label>Borrar imagen:
                <select name="imagen_seleccionada">
                    <option value="">No borrar ninguna imagen</option>
                    {% for imagen in imagenes %}
                        <option value="{{ imagen.id  }}">{{ imagen.nombre }}</option>
                    {% endfor %}
                </select>
            </label>
            

            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}

            <button type="submit" name="editarPelicula">Guardar Cambios</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}
