{% extends "padre.html" %}

    {% block styles %}
        <link rel="stylesheet" href="../styles/estilo.css">
        <link rel="stylesheet" href="../styles/pelicula.css">
        <link rel="stylesheet" href="../styles/comentarios.css">
        <script src="../js/comentarios.js" defer></script>
    {% endblock %}
    
    {% block button %}
        <button id="show_comentarios">Comentarios</button>
    {% endblock %}

    {% block main %}
        <main class="lista_animes">
            <div class="comentarios">
                {% if rol != "anonimo" %}
                <div class="formulario">
                    <form method="POST" action="" id="form">
                        <input type="hidden" name="id" value="{{ id }}">
                        <label>Nombre:
                            <input type="text" name="nombre" id="nombre" placeholder="Nombre">
                        </label>
                        <label>Email:
                            <input type="text" name="email" id="correo" placeholder="Correo">
                        </label>
                        <label>Comentario:
                            <textarea name="comentario" id="comentario"></textarea>
                        </label>
                        <button type="submit" id="send" name="Añadir_coment">Enviar</button>
                        <div id="palabras">
                            {%for palabra in palabras%}
                                {{ palabra }}
                            {%endfor%}
                        </div>
                    </form>
                </div>
                {% endif %}
                <div class="coments">
                    {% for comentario in comentarios %}
                        <div class="comentario_user">
                            <p><strong>{{ comentario.autor }}</strong> <span>{{ comentario.fecha }}</span></p>
                            <p>{{ comentario.comentario }}</p>
                            {% if rol == "moderador" or rol == "superusuario" %}
                                <div class="acciones_comentario">
                                    <form action="borrar_comentario.php" method="post">
                                        <input type="hidden" name="id" value="{{ comentario.id }}">
                                        <button type="submit" class="borrar">
                                            🗑️ Eliminar
                                        </button>
                                    </form>
                                    <form action="editar_comentario.php" method="post">
                                        <input type="hidden" name="id" value="{{ comentario.id }}">
                                        <button type="submit" class="borrar">
                                            ✏️ Editar
                                        </button>
                                    </form>
                                </div>
                            {% endif%}
                        </div>
                    {% endfor %}
                </div>
                
            </div>
            <div class="anime">
                {% for imagen in imagenes %}
                    <figure>
                        <img src="data:image/jpeg;base64,{{ imagen.imagen }}" alt="{{ imagen.nombre }}">
                        <figcaption>{{ imagen.nombre }}</figcaption>
                    </figure>
                {% endfor %}
            </div>
            {% if rol == "gestor" or rol == "superusuario" %}
                <div class="acciones_comentario">
                    <form action="borrar_pelicula.php" method="post">
                        <input type="hidden" name="id" value="{{ pelicula.id }}">
                        <button type="submit" class="borrar">
                            🗑️ Eliminar
                        </button>
                    </form>
                    <form action="editar_pelicula.php" method="post">
                        <input type="hidden" name="id" value="{{ pelicula.id }}">
                        <button type="submit" class="borrar">
                            ✏️ Editar
                        </button>
                    </form>
                </div>
                {% endif %}
            <h2>{{ pelicula.titulo }} </h2>
            <p><strong>Fecha de estreno:</strong> {{ pelicula.fecha }}</p>
            <p><strong>Género:</strong> {{ pelicula.genero}}</p>
            <p><strong>Director:</strong> {{ pelicula.director }}</p>
            <p><strong>Actores principales:</strong> {{ pelicula.actores }}</p>

            

            <p>{{ descripcion|raw }} </p>

            <div class="redes">
                <a href="#" class="fb">Facebook</a>
                <a href="#" class="tw">Twitter</a>
                <a href="evento.php?id={{ id }}&imprimir" class="imprimir">Imprimir</a>
            </div>
           
        </main>
    {% endblock %}