{% extends "padre.html" %}

    {% block styles %}
        <link rel="stylesheet" href="../styles/pelicula_imprimir.css">
    {% endblock %}
    
    {% block main %}
        <main class="lista_animes">
            <div class="info">
                <h2>{{ titulo }}</h2>
                <p><strong>Fecha de estreno:</strong> {{ fecha }}</p>
                <p><strong>Género:</strong> {{ genero}}</p>
                <p><strong>Director:</strong> {{ director }}</p>
                <p><strong>Actores principales:</strong> {{ actores }}</p>
            </div>

            <div class="anime">
                {% for imagen in imagenes %}
                    <figure>
                        <img src="data:image/jpeg;base64,{{ imagen.imagen }}" alt="{{ imagen.nombre }}">
                        <figcaption>{{ imagen.nombre }}</figcaption>
                    </figure>
                {% endfor %}
            </div>

            <p>{{ descripcion }} </p>
        </main>
    </div>
    {% endblock %}