{% extends "padre.html" %}
    {% block styles %}
        <link rel="stylesheet" href="../styles/estilo.css">
        <link rel="stylesheet" href="../styles/registro.css">
    {% endblock %}
    {% block main %}

    <div class="comentarios">
        <h1>Perfil</h1>
        <div class="formulario">
            <form method="POST">
                <label>Nombre:
                    <input type="text" name="nombre" id="nombre" value="{{nombre}}" placeholder="Nombre" required>
                </label>
                <label>Email:
                    <input type="text" name="correo" id="correo" value="{{email}}"placeholder="Correo" required>
                </label>
                <label>Contraseña:
                    <input type="password" name="password" id="password" placeholder="Contraseña" required>
                </label>
                <label>Rol:
                    <select name="rol" id="rol" required>
                        <option value="registrado">Usuario registrado</option>
                        <option value="moderador">Usuario moderador</option>
                        <option value="gestor">Usuario gestor del sitio</option>
                        <option value="superusuario">Superusuario</option>
                    </select>
                </label>
                {% if error2 %}
                        <p class="error">{{ error2 }}</p>
                {% endif %}
                <button type="submit" name="modificar">Enviar</button>
            </form>
        </div>
    </div>


    {% endblock %}