{% extends "padre.html" %}
    {% block styles %}
        <link rel="stylesheet" href="../styles/estilo.css">
        <link rel="stylesheet" href="../styles/registro.css">
    {% endblock %}
    {% block main %}
    
    <div class="comentarios">
        <h1>Registro</h1>
        <div class="formulario">
            <form method="POST">
                <label>Nombre:
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
                </label>
                <label>Email:
                    <input type="text" name="correo" id="correo" placeholder="Correo" required>
                </label>
                <label>Contraseña:
                    <input type="password" name="password" id="password" placeholder="Contraseña" required>
                </label>
                {% if error2 %}
                        <p class="error">{{ error2 }}</p>
                {% endif %}
                <button type="submit" name="registro">Enviar</button>
            </form>
        </div>
    </div>
    {% endblock %}