.comentarios {
    display: none;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background-color: rgb(245, 232, 189);
    float: right;
}

.formulario{
    padding: 10px;
}

.comentarios label {
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.comentarios input {
    width: 80%;
    padding: 5px;
}

.comentarios textarea {
    resize: none;
    width: 80%;
    height: 50px;
}

.comentarios button {
    background-color: blue;
    color: white;
    padding: 10px;
    margin: 10px;
    float: right;
    width: 50%;
    cursor: pointer;
}

.coments {
    margin: 15px;
    padding: 10px;
}

.comentario_user {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 8px;
    background-color: white;
}

.comentario_user strong {
    color: rgb(255, 123, 0);
}

.comentario_user p {
    color: black;
    margin: 5px;
}

span {
    float: right;
}